.style1{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.style2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

#container-navbar{
    background-color: #1C4587;
}

#img-navbar{
    width: 100%;
}

#text-navbar{
    color: aliceblue;
    font-size: 120%;
}

#container-navbar-options{
    padding-left: 75%;
}

.header{
    width: 100%;
    font-size: 1200%;
    text-align: center;
    padding-bottom: 15%;
    display: flex;
    color: black;
}

#img{
    width: 100%;
    position: absolute;
    padding: 0%;
}

#text-img{
    padding-top: 11%;
    left: 17%;
    position: relative;
}

#text-img2{
    padding-top: 11%;
    left: 23%;
    position: relative;
}

#text-img3{
    padding-top: 11%;
    left: 16%;
    position: relative;
}

#presentation-header{
    font-size: 400%;
    padding-left: 3%;
}

#personal-info{
    width: 100%;
    display: flex;
}

#left-size{
    width: 40%;
    padding-left: 2%;
    font-size: 250%;
    align-content: center;
}

#link{
    text-decoration: none;
    text-align: center;
}

#right-size{
    width: 50%;
}

#video{
    width: 100%;
}

#name{
    display: flex;
}

#name-color{
    color: #1C4587;
    padding-top: 2%;
}

#name-space{
    padding-left: 4%;
    padding-top: 2%;
}

#second-header{
    padding-top: 5%;
    width: 100%;
    display: flex;
    text-align: center;
    padding-left: 15%;
    padding-right: 3%;
    font-size: 300%;
}

#left-size-header{
    width: 40%;
    text-align: center;
    align-content: center;
    color: #1C4587;
}

#right-size-header{
    width: 40%;
    text-align: center;
    align-content: center;
    color: #1C4587;
}

#second-left-size{
    width: 40%;
    text-align: center;
    font-size: 200%;
    align-content: center;
}

#second-right-size{
    width: 40%;
    text-align: center;
    font-size: 200%;
    align-content: center;
}

#second-personal-info{
    width: 100%;
    display: flex;
    text-align: center;
    padding-left: 15%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 3%;
}

#button{
    background-color: rgba(0, 255, 255, 0.1);
    border: 2px solid #1C4587;
    text-align: center;
    align-content: center;

}

#third-size{
    width: 100%;
}

#third-size-header{
    font-size: 400%;
    padding-left: 4%;
}

#third-size-location{
    display: flex;
}

#third-size-location-left{
    width: 50%;
    font-size: 250%;
    align-items: center;
    text-align: center;
    align-content: center;
    padding-left: 2%;
}

#third-size-location-right{
    width: 50%;
}

#fourth-size{
    padding-top: 3%;
}

#fourth-size-content{
    width: 100%;
    display: flex;
}

#fourth-size-header{
    font-size: 400%;
    padding-left: 4%;
}

#fouth-size-right{
    width: 50%;
    padding-left: 3%;
}

#fourth-size-left{
    width: 50%;
}

#fourth-size-right-text{
    font-size: 220%;
    padding-right: 3%;
    width: 100%;
    align-content: center;
    align-items:center ;
    padding-top: 5%;
}

#image{
    padding-left: 3%;
    width: 100%;
    padding-right: 5%;
}

#boldfont{
    color: #1C4587;
}

#footer{
    background-color: #1c458784;
    text-align: center;
    align-content: center;
}

#footer-english-option{
    text-decoration: none;
    font-size: 250%;
    color: black;
}

#footer-text{
    padding-top: 1%;
}

/* Segunda parte */

#content-table{
    width: 100%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

#table{
    padding-top: 30%;
}

#border{
    border: 1px solid black;
    width: 25%;
    text-align: center;
    font-size: 300%;
    background-color: #1c458724;
}

#border2{
    border: 1px solid black;
    width: 25%;
    text-align: center;
    font-size: 130%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#Martí-size{
    width: 50%;
}

#Bell-size{
    width: 50%;
}

#first-size{
    text-align: center;
    font-size: 300%;
}

#second-size{
    text-align: center;
}

#location-size{
    display: flex;
}


/* Tercera parte */


#experience-nub{
    width: 100%;
    padding-top: 5%;
}

#header-nub{
    font-size: 300%;
    padding-left: 3%;
}

#description-nub{
    width: 100%;
}

#description-size-nub{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 170%;
}

#description-size-image-nub{
    text-align: center;
    padding-bottom: 3%;
    padding-top: 1%;
}

#image-nub{
    width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 1500px){

}

@media screen and (max-width: 1320px) {
    #container-navbar-options{
        padding-left: 70%;
    }

    #text-img{
        padding-top: 11%;
        left: 6%;
        position: relative;
    }

    #text-img2{
        padding-top: 11%;
        left: 15%;
        position: relative;
    }
    
    #text-img3{
        padding-top: 11%;
        left: 7%;
        position: relative;
    }

    #left-size{
        width:45%;
        padding-left: 2%;
        font-size: 250%;
        align-content: center;
    }

    #third-size-location{
        display: block;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 220%;
        align-items: none;
        text-align: none;
        align-content: none;
        padding-left: 2%;
        padding-bottom: 2%;
    }
    
    #third-size-location-right{
        width: 100%;
        text-align: center;
    }

    
    #fourth-size-right-text{
        font-size: 220%;
        padding-right: 3%;
        width: 100%;
        align-content: center;
        align-items:center ;
        padding-top: 0%;
    }
}

@media screen and (max-width: 1200px) {
    #container-navbar-options{
        padding-left: 69%;
    }

    .header{
        width: 100%;
        font-size: 1100%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #text-img{
        padding-top: 11%;
        left: 10%;
        position: relative;
    }

    #text-img2{
        padding-top: 11%;
        left: 18%;
        position: relative;
    }
    
    #text-img3{
        padding-top: 11%;
        left: 9%;
        position: relative;
    }

    #left-size{
        width:45%;
        padding-left: 2%;
        font-size: 230%;
        align-content: center;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        font-size: 250%;
        padding-left: 15%;
        padding-right: 3%;
    }

    #second-left-size{
        width: 40%;
        text-align: center;
        font-size: 150%;
        align-content: center;
    }
    
    #second-right-size{
        width: 40%;
        text-align: center;
        font-size: 150%;
        align-content: center;
    }
    
    #third-size-location-left{
        width: 50%;
        font-size: 230%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #Martí-size{
        width: 100%;
    }
    
    #Bell-size{
        width: 100%;
        padding-bottom: 3%;
    }

    #location-size{
        display: block;
    }

    
    #fourth-size-right-text{
        font-size: 220%;
        padding-right: 3%;
        width: 100%;
        align-content: center;
        align-items:center ;
        padding-top: 0%;
    }
}

@media screen and (max-width: 1140px) {
    .header{
        width: 100%;
        font-size: 1000%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #text-img{
        padding-top: 11%;
        left: 11%;
        position: relative;
    }

    #text-img2{
        padding-top: 11%;
        left: 18%;
        position: relative;
    }
    
    #text-img3{
        padding-top: 11%;
        left: 9%;
        position: relative;
    }

    #container-navbar-options{
        padding-left: 66%;
    }

    
    #fourth-size-right-text{
        font-size: 200%;
        padding-right: 3%;
        width: 100%;
        align-content: center;
        align-items:center ;
        padding-top: 2%;
    }
}

@media screen and (max-width: 1080px) {
    #text-img{
        padding-top: 11%;
        left: 9%;
        position: relative;
    }

    #text-img2{
        padding-top: 11%;
        left: 17%;
        position: relative;
    }
    
    #text-img3{
        padding-top: 11%;
        left: 9%;
        position: relative;
    }

    #container-navbar-options{
        padding-left: 64%;
    }

    #left-size{
        width:45%;
        padding-left: 2%;
        font-size: 210%;
        align-content: center;
    }

    #third-size-location-left{
        width: 50%;
        font-size: 210%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #fourth-size-right-text{
        font-size: 200%;
        padding-right: 3%;
        width: 100%;
        align-content: center;
        align-items:center ;
        padding-top: 1%;
    }
}

@media screen and (max-width: 1031px) {
    #container-navbar-options{
        padding-left: 62%;
    }

    #text-img{
        padding-top: 11%;
        left: 7%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 18%;
        position: relative;
    }

    #text-img3{
        padding-top: 11%;
        left: 6.5%;
        position: relative;
    }
}

@media screen and (max-width: 1001px) {
    
    #text-img2{
        padding-top: 11%;
        left: 18%;
        position: relative;
    }

    #text-img3{
        padding-top: 11%;
        left: 6.5%;
        position: relative;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 210%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }
}

@media screen and (max-width: 992px) {
    #container-navbar-options{
        padding-left: 50%;
    }

    #text-img{
        padding-top: 11%;
        left: 6%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 18%;
        position: relative;
    }

    #text-img3{
        padding-top: 11%;
        left: 6.5%;
        position: relative;
    }

    #img-navbar{
        width: 10%;
    }

    #left-size{
        width:45%;
        padding-left: 2%;
        font-size: 200%;
        align-content: center;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 200%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #text-navbar{
        color: aliceblue;
        font-size: 160%;
    }
}

@media screen and (max-width: 960px) {
    #container-navbar-options{
        padding-left: 50%;
    }

    #text-img{
        padding-top: 11%;
        left: 3%;
        position: relative;
    }

    #text-img3{
        padding-top: 11%;
        left: 3%;
        position: relative;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 180%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #fourth-size-right-text{
        font-size: 180%;
        padding-right: 3%;
        width: 100%;
        align-content: center;
        align-items:center ;
        padding-top: 1%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 150%;
    }

    #personal-info{
        width: 100%;
        display: block;
    }

    #left-size{
        width: 100%;
        padding-left: 2%;
        font-size: 180%;
        align-content: center;
        padding-bottom: 2%;
    }
    
    #right-size{
        width: 100%;
    }
}

@media screen and (max-width: 920px) {

    #text-img{
        padding-top: 11%;
        left: 6%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 17%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 6%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 900%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }
    
}

@media screen and (max-width: 880px) {

    #text-img{
        padding-top: 11%;
        left: 4%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 17%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 4%;
        position: relative;
    }
    
}

@media screen and (max-width: 840px) {

    #text-img{
        padding-top: 11%;
        left: 5%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 17%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 4%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 800%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #container-navbar-options{
        padding-left: 45%;
    }
    
}

@media screen and (max-width: 760px) {
    #text-img{
        padding-top: 11%;
        left: 8%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 17%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 8%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 700%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }
}

@media screen and (max-width: 720px) {
    #text-img{
        padding-top: 11%;
        left: 8%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 17%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 8%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 700%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #fourth-size-content{
        width: 100%;
        display: block;
        padding-left: 2%;
    }

    #fourth-size-left{
        width: 100%;
    }
}

@media screen and (max-width: 690px) {
    #text-img{
        padding-top: 11%;
        left: 5%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 17%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 4%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 700%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #left-size-header{
        width: 40%;
        text-align: center;
        align-content: center;
        color: #1C4587;
        padding-right: 5%;
    }
    
    #right-size-header{
        width: 40%;
        text-align: center;
        align-content: center;
        color: #1C4587;
        padding-left: 3%;
    }
    
    #second-left-size{
        width: 40%;
        text-align: center;
        font-size: 150%;
        align-content: center;
        padding-right: 3%;
    }
    
    #second-right-size{
        width: 40%;
        text-align: center;
        font-size: 150%;
        align-content: center;
        padding-left: 3%;
    }
    
    #fourth-size-right-text{
        font-size: 150%;
        padding-right: 3%;
        width: 100%;
        align-content: center;
        align-items:center ;
        padding-top: 0%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 110%;
    }

    #container-navbar-options{
        padding-left: 50%;
    }

    #text-navbar{
        color: aliceblue;
        font-size: 110%;
    }

}

@media screen and (max-width: 670px) {
    #text-img{
        padding-top: 11%;
        left: 8%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 18%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 6%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 600%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }
}

@media screen and (max-width: 600px) {
    #text-img{
        padding-top: 11%;
        left: 13%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 20%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 12%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 500%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #border{
        border: 1px solid black;
        width: 25%;
        text-align: center;
        font-size: 200%;
        background-color: #1c458724;
    }
    
    #border2{
        border: 1px solid black;
        width: 25%;
        text-align: center;
        font-size: 70%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

@media screen and (max-width: 565px) {
    #text-img{
        padding-top: 11%;
        left: 10%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 20%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 10%;
        position: relative;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 2%;
        padding-right: 3%;
        font-size: 250%;
    }
    
    #left-size-header{
        width: 40%;
        text-align: center;
        align-content: center;
        color: #1C4587;
    }
    
    #right-size-header{
        width: 40%;
        text-align: center;
        align-content: center;
        color: #1C4587;
        padding-right: 5%;
    }
    
    #second-left-size{
        width: 40%;
        text-align: center;
        font-size: 150%;
        align-content: center;
    }
    
    #second-right-size{
        width: 40%;
        text-align: center;
        font-size: 150%;
        align-content: center;
    }
    
    #second-personal-info{
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 2%;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 3%;
    }

    #maps{
        width: 90%;
    }

    #fourth-size-right-text{
        font-size: 110%;
        padding-right: 3%;
        width: 100%;
        align-content: center;
        align-items:center ;
        padding-top: 0%;
    }

    #presentation-header{
        font-size: 300%;
        padding-left: 3%;
    }

    #fourth-size-header{
        font-size: 300%;
        padding-left: 4%;
    }

    #third-size-header{
        font-size: 300%;
        padding-left: 4%;
    }

    #container-navbar-options{
        padding-left: 40%;
    }
}

@media screen and (max-width: 535px) {
    #text-img{
        padding-top: 11%;
        left: 8%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 20%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 7%;
        position: relative;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 2%;
        padding-right: 3%;
        font-size: 200%;
    }

    #second-personal-info{
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 5%;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 3%;
    }

    #second-left-size{
        width: 40%;
        text-align: center;
        font-size: 100%;
        align-content: center;
    }
    
    #second-right-size{
        width: 50%;
        text-align: center;
        font-size: 100%;
        align-content: center;
    }

    #right-size-header{
        width: 40%;
        text-align: center;
        align-content: center;
        color: #1C4587;
        padding-left: 15%;
    }

    #left-size-header{
        width: 40%;
        text-align: center;
        align-content: center;
        color: #1C4587;
        padding-left: 6%;
    }
}

@media screen and (max-width: 500px) {
    #text-img{
        padding-top: 11%;
        left: 5%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 18%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 5%;
        position: relative;
    }
}

@media screen and (max-width: 475px) {
    #text-img{
        padding-top: 11%;
        left: 12%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 20%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 11%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 400%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #presentation-header{
        font-size: 250%;
        padding-left: 3%;
    }

    #fourth-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #left-size{
        width: 100%;
        padding-left: 2%;
        font-size: 150%;
        align-content: center;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 10%;
        padding-right: 3%;
        font-size: 150%;
    }


    #right-size-header{
        width: 30%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 10%;
    }

    #left-size-header{
        width: 40%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 0%;
        padding-right: 20%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 150%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 100%;
    }

    #container-navbar-options{
        padding-left: 30%;
    }

    #footer-english-option{
        text-decoration: none;
        font-size: 170%;
        color: black;
    }
}

@media screen and (max-width: 427px) {
    #text-img{
        padding-top: 11%;
        left: 9%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 20%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 8%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 400%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #presentation-header{
        font-size: 250%;
        padding-left: 3%;
    }

    #fourth-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #left-size{
        width: 100%;
        padding-left: 2%;
        font-size: 150%;
        align-content: center;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 10%;
        padding-right: 3%;
        font-size: 150%;
    }


    #right-size-header{
        width: 30%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 10%;
    }

    #left-size-header{
        width: 40%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 0%;
        padding-right: 20%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 150%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 100%;
    }

    #container-navbar-options{
        padding-left: 30%;
    }

    #footer-english-option{
        text-decoration: none;
        font-size: 170%;
        color: black;
    }

}

@media screen and (max-width: 409px) {
    #text-img{
        padding-top: 11%;
        left: 6%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 19%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 6%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 400%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #presentation-header{
        font-size: 250%;
        padding-left: 3%;
    }

    #fourth-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #left-size{
        width: 100%;
        padding-left: 2%;
        font-size: 150%;
        align-content: center;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 10%;
        padding-right: 3%;
        font-size: 150%;
    }


    #right-size-header{
        width: 30%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 10%;
    }

    #left-size-header{
        width: 40%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 0%;
        padding-right: 20%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 150%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 100%;
    }

    #container-navbar-options{
        padding-left: 30%;
    }

    #footer-english-option{
        text-decoration: none;
        font-size: 170%;
        color: black;
    }

}

@media screen and (max-width: 376px) {
    #text-img{
        padding-top: 11%;
        left: 3%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 16%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 2%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 400%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #presentation-header{
        font-size: 250%;
        padding-left: 3%;
    }

    #fourth-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #left-size{
        width: 100%;
        padding-left: 2%;
        font-size: 150%;
        align-content: center;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 10%;
        padding-right: 3%;
        font-size: 150%;
    }


    #right-size-header{
        width: 30%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 10%;
    }

    #left-size-header{
        width: 40%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 0%;
        padding-right: 20%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 150%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 100%;
    }

    #container-navbar-options{
        padding-left: 20%;
    }

    #footer-english-option{
        text-decoration: none;
        font-size: 170%;
        color: black;
    }

    #first-size{
        text-align: center;
        font-size: 200%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 80%;
    }
    
}

@media screen and (max-width: 365px) {
    #text-img{
        padding-top: 11%;
        left: 1%;
        position: relative;
    }
    
    #text-img2{
        padding-top: 11%;
        left: 16%;
        position: relative;
    }

    #text-img3{
        padding-top: 13%;
        left: 0%;
        position: relative;
    }

    .header{
        width: 100%;
        font-size: 400%;
        text-align: center;
        padding-bottom: 15%;
        display: flex;
        color: black;
    }

    #presentation-header{
        font-size: 250%;
        padding-left: 3%;
    }

    #fourth-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #left-size{
        width: 100%;
        padding-left: 2%;
        font-size: 150%;
        align-content: center;
    }

    #second-header{
        padding-top: 5%;
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 10%;
        padding-right: 3%;
        font-size: 150%;
    }


    #right-size-header{
        width: 30%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 10%;
    }

    #left-size-header{
        width: 40%;
        text-align: left;
        align-content: left;
        color: #1C4587;
        padding-left: 0%;
        padding-right: 20%;
    }

    #third-size-header{
        font-size: 250%;
        padding-left: 4%;
    }

    #third-size-location-left{
        width: 100%;
        font-size: 150%;
        align-items: center;
        text-align: center;
        align-content: center;
        padding-left: 2%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 100%;
    }

    #container-navbar-options{
        padding-left: 20%;
    }

    #footer-english-option{
        text-decoration: none;
        font-size: 170%;
        color: black;
    }

    #first-size{
        text-align: center;
        font-size: 200%;
    }

    #description-size-nub{
        padding-left: 2%;
        padding-right: 2%;
        font-size: 80%;
    }
    
}
