.style1{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.style2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

#container-navbar{
    background-color: #1C4587;
}

#img-navbar{
    width: 100%;
}

#text-navbar{
    color: aliceblue;
    font-size: 120%;
}

#container-navbar-options{
    padding-left: 75%;
}

.header{
    width: 100%;
    font-size: 1200%;
    text-align: center;
    padding-bottom: 15%;
    display: flex;
    color: black;
}

#img{
    width: 100%;
    position: absolute;
    padding: 0%;
}

#text-img{
    padding-top: 11%;
    left: 17%;
    position: relative;
}

#text-img2{
    padding-top: 11%;
    left: 23%;
    position: relative;
}

#presentation-header{
    font-size: 400%;
    padding-left: 3%;
}

#personal-info{
    width: 100%;
    display: flex;
}

#left-size{
    width: 40%;
    padding-left: 2%;
    font-size: 250%;
    align-content: center;
}

#link{
    text-decoration: none;
    text-align: center;
}

#right-size{
    width: 50%;
}

#name{
    display: flex;
}

#name-color{
    color: #1C4587;
    padding-top: 2%;
}

#name-space{
    padding-left: 4%;
    padding-top: 2%;
}

#second-header{
    padding-top: 5%;
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 250%;
    padding-left: 15%;
    padding-right: 3%;
    font-size: 300%;
}

#left-size-header{
    width: 40%;
    text-align: center;
    align-content: center;
    color: #1C4587;
}

#right-size-header{
    width: 40%;
    text-align: center;
    align-content: center;
    color: #1C4587;
}

#second-left-size{
    width: 40%;
    text-align: center;
    font-size: 200%;
    align-content: center;
}

#second-right-size{
    width: 40%;
    text-align: center;
    font-size: 200%;
    align-content: center;
}

#second-personal-info{
    width: 100%;
    display: flex;
    text-align: center;
    padding-left: 15%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 3%;
}

#button{
    background-color: rgba(0, 255, 255, 0.1);
    border: 2px solid #1C4587;
    text-align: center;
    align-content: center;

}

#third-size{
    width: 100%;
}

#third-size-header{
    font-size: 400%;
    padding-left: 4%;
}

#third-size-location{
    display: flex;
}

#third-size-location-left{
    width: 50%;
    font-size: 250%;
    align-items: center;
    text-align: center;
    align-content: center;
    padding-left: 2%;
}

#third-size-location-right{
    width: 50%;
}

#fourth-size{
    padding-top: 3%;
}

#fourth-size-content{
    width: 100%;
    display: flex;
}

#fourth-size-header{
    font-size: 400%;
    padding-left: 4%;
}

#fouth-size-right{
    width: 50%;
    padding-left: 3%;
}

#fourth-size-left{
    width: 50%;
}

#fourth-size-right-text{
    font-size: 220%;
    padding-right: 3%;
    width: 100%;
    align-content: center;
    align-items:center ;
    padding-top: 5%;
}

#image{
    padding-left: 3%;
    width: 100%;
    padding-right: 5%;
}

#boldfont{
    color: #1C4587;
}

#footer{
    background-color: #1c458784;
    text-align: center;
    align-content: center;
}

#footer-english-option{
    text-decoration: none;
    font-size: 250%;
    color: black;
}

#footer-text{
    padding-top: 1%;
}

/* Segunda parte */

#content-table{
    width: 100%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

#table{
    padding-top: 30%;
}

#border{
    border: 1px solid black;
    width: 25%;
    text-align: center;
    font-size: 300%;
    background-color: #1c458724;
}

#border2{
    border: 1px solid black;
    width: 25%;
    text-align: center;
    font-size: 130%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#Martí-size{
    width: 50%;
}

#Bell-size{
    width: 50%;
}

#first-size{
    text-align: center;
    font-size: 300%;
}

#second-size{
    text-align: center;
}

#location-size{
    display: flex;
}