<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículum</title>
    <link rel="stylesheet" href="../../css/estilos.css" type="text/css">
    <link rel="icon" href="../../img/Iconos/Currículum.ico" type="img/ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div id="container-navbar" class="container-fluid">
          <img class="navbar-brand" id="img-navbar" src="../../img/Iconos/Currículum.ico" alt="No se ha podido cargar la imagen">
          <a class="navbar-brand" id="text-navbar" href="./index.html">Jesús Fortea</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="container-navbar-options">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" id="text-navbar" aria-current="page" href="../../view/en/education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="text-navbar" href="../en/experience.html">Experience</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="header">
        <img id="img" src="../../img/header2.jpg" alt="No se ha podido cargar la imagen">
        <p class="style1" id="text-img2">Education</p>
    </div>

    <div id="content-table">
        <table id="table">
            <th class="style1" id="border">
                Year
            </th>
            <th class="style1" id="border">
                Course
            </th>
            <th class="style1" id="border">
                Center
            </th>
            <tr>
                <td class="style2" id="border2">
                    2022
                </td>
                <td class="style2" id="border2">
                    Obligation Secundary Education
                </td>
                <td class="style2" id="border2">
                    Instituto Martí Dot
                </td>
            </tr>

            <tr>
                <td class="style2" id="border2">
                    Studying...
                </td>
                <td class="style2" id="border2">
                    ILTC Systems Microinformátis and Networks
                </td>
                <td class="style2" id="border2">
                    CE Joan XXIII
                </td>
            </tr>
        </table>
    </div>

    <div id="location-size">
        <div id="Martí-size">
            <div id="first-size">
                <p class="style1">Instituto Martí Dot</p>
            </div>
            <div id="second-size">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.505258110942!2d2.0370992757241284!3d41.38483249615407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49a4ce3ff7e2d%3A0xfb81183c424c39c3!2sInstituto%20P%C3%BAblico%20Mart%C3%AD%20Dot!5e0!3m2!1ses!2ses!4v1714681231926!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="Bell-size">
            <div id="first-size">
                <p class="style1">CE Joan XXIII</p>
            </div>
            <div id="second-size">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5990.225734056803!2d2.102426284678935!3d41.349900424345144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1714681526385!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <footer id="footer">
        <a id="footer-english-option" href="../estudios.html"><p id="footer-text">> See web in: Spanish <</p></a>
    </footer>
</body>
</html>