<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículum</title>
    <link rel="stylesheet" href="../../css/estilos.css" type="text/css">
    <link rel="icon" href="../../img/Iconos/Currículum.ico" type="img/ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div id="container-navbar" class="container-fluid">
          <img class="navbar-brand" id="img-navbar" src="../../img/Iconos/Currículum.ico" alt="No se ha podido cargar la imagen">
          <a class="navbar-brand" id="text-navbar" href="./index.html">Jesús Fortea</a>
          <div id="container-navbar-options">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
              <div class="nav-item">
                <a class="nav-link active" id="text-navbar" aria-current="page" href="./education.html">Studies</a>
              </div>
              <div class="nav-item">
                <a class="nav-link active" id="text-navbar" href="./experience.html">Experience</a>
              </div>
            </div>
          </div>
        </div>
    </nav>

    <div class="header">
        <img id="img" src="../../img/header.png" alt="No se ha podido cargar la imagen">
        <p class="style1" id="text-img">¿Who am I?</p>
    </div>

    <p class="style1" id="presentation-header">Personal Presentation</p>

    <div class="style1" id="personal-info">
        <div id="left-size">
            <div id="name">
                <p id="name-color"><strong>Name:</strong></p><p id="name-space">Jesús</p>
            </div>
            <div id="name">
                <p id="name-color"><strong>Firstname:</strong></p><p id="name-space">Fortea Fatsini</p>
            </div>
            <div id="name">
                <p id="name-color"><strong>Birth:</strong></p><p id="name-space">28 / 11 / 2006</p>
            </div>
            <div id="name">
                <a id="link" href="../../Currículum.pdf" target="_blank">> <button id="button">See Curriculum in PDF</button> <</a>
            </div>
        </div>
        <div id="right-size">
            <iframe id="video" width="910" height="515" src="https://www.youtube.com/embed/ktgy6hJwWSE" title="Presentación" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="style1" id="second-header">
        <div id="left-size-header">
            <p id="header-text">PHONE NUMBER</p>
        </div>
        <div id="right-size-header">
            <p id="header-text">MAIL</p>
        </div>
    </div>

    <div class="style2" id="second-personal-info">
        <div id="second-left-size">
            <p>+34 625 08 15 66</p>
        </div>
        <div id="second-right-size">
            <p>loltop776@gmail.com</p>
            <p>464186.joan23@fje.edu</p>
        </div>
    </div>

    <div id="third-size">
        <div id="third-size-header">
            <p class="style1">Location</p>
        </div>
        <div id="third-size-location">
            <div id="third-size-location-left">
                <div id="name">
                    <p id="name-color"><strong>Zip code:</strong></p><p id="name-space">08980</p>
                </div>
                <div id="name">
                    <p id="name-color"><strong>Provicie:</strong></p><p id="name-space">Barcelona</p>
                </div>
                <div id="name">
                    <p id="name-color"><strong>City:</strong></p><p id="name-space">Sant Feliu de Llobregat</p>
                </div>
            </div>
            <div id="third-size-location-right">
                <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23947.664110493246!2d2.0243564531047453!3d41.385858711808396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49a36b48adb87%3A0x5c34df75ca93c1c8!2s08980%20Sant%20Feliu%20de%20Llobregat%2C%20Barcelona!5e0!3m2!1ses!2ses!4v1714643882660!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <div id="fourth-size">
        <div id="fourth-size-header">
            <p class="style1">Without me:</p>
        </div>
        <div id="fourth-size-content">
            <div id="fourth-size-left">
                <img id="image" src="../../img/Contenido/Sobremi.png" alt="No se ha podido cargar la imagen">
            </div>
            <div id="fourth-size-right">
                <p id="fourth-size-right-text" class="style2">I consider myself <b id="boldfont">autonomous</b>, <b id="boldfont">commited</b> to work, <b id="boldfont">flexible</b> in the changes and with <b id="boldfont">leadership</b>.</p>
            </div>
        </div>
    </div>

    <footer id="footer">
        <a id="footer-english-option" href="../../index.html"><p id="footer-text">> See the web in: Spanish <</p></a>
    </footer>

</body>
</html>
